<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="db.properties"/>-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.jxc"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <!--mybatis-config使⽤-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--<databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>-->
<!--    <mappers>-->
<!--        &lt;!&ndash;前提是XML文件必须和接口放在一起并且名字一致&ndash;&gt;-->
<!--&lt;!&ndash;        <package name="edu.cqie.ssm.dao"/>&ndash;&gt;-->
<!--        <mapper resource="mapper/SysUserMapper.xml"/>-->
<!--        <mapper resource="mapper/UsersDao.xml"/>-->
<!--        <mapper resource="mapper/ProductStockMapper.xml"/>-->
<!--    </mappers>-->
</configuration>