<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SearchMapper.xml -->
<mapper namespace="com.jxc.dao.SearchDao">

    <resultMap type="com.jxc.entity.SearchDto" id="SearchMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectProductStock" parameterType="java.lang.String" resultMap="SearchMap">
        SELECT p.id, p.name, s.quantity
        FROM products p
                 LEFT JOIN stock s ON p.id = s.product_id
        WHERE p.name = #{keyword}
    </select>

</mapper>
